<h1><%= @employee.full_name%> </h1>

<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<p><%= @employee.dog.name %></p>
<br>
<img src="<%= @employee.img_url %>" alt="<%= @employee.full_name %>">
